---
import Section from "../../Section.astro";
import RulesBox from "./RulesBox.astro";
import RulesSection from "./RulesSection.astro";
import RulesSubSection from "./RulesSubSection.astro";
import Rule from "./Rule.astro";
import Monoline from "@/components/format/Monoline.astro";

import { discordRules } from "@/consts/rules";
import type { JSX } from "astro/jsx-runtime";

export function parseMonoline(text:string) {
  return <Monoline>{text}</Monoline>;
}

function parseText(content: string) {
  const regex = /`([^`]+)`/g;
  const parts: Array<string | JSX.Element> = [];
  let lastIndex = 0;
  let match;

  while ((match = regex.exec(content)) !== null) {
    if (match.index > lastIndex) {
      parts.push(content.slice(lastIndex, match.index));
    }
    // Inserta el componente Monoline
    parts.push(parseMonoline(match[1]));
    lastIndex = regex.lastIndex;
  }

  if (lastIndex < content.length) {
    parts.push(content.slice(lastIndex));
  }

  return parts;
}
---

<Section defaultClass="on" class="space-y-4">
  <RulesBox>
    {
      discordRules.sections.map((section) => (
        <RulesSection
          title={section.title}
          description={section.description}
          id={section.id}
        >
          {section.rules?.map((rule) => (
            <Rule number={rule.number ?? undefined} id={rule.id ?? rule.number}>
              {parseText(rule.content).map((part, index) => (
                <Fragment key={index}>{part}</Fragment>
              ))}
            </Rule>
          ))}
          {section.subsections?.map((subsection) => (
            <RulesSubSection
              title={subsection.title}
              description={subsection.description}
              id={subsection.id}
            >
              {subsection.rules?.map((rule) => (
                <Rule number={rule.number} id={rule.id ?? rule.number}>
                  {parseText(rule.content).map((part, index) => (
                    <Fragment key={index}>{part}</Fragment>
                  ))}
                </Rule>
              ))}
            </RulesSubSection>
          ))}
        </RulesSection>
      ))
    }
  </RulesBox>
</Section>
